.car-img {
  height: 250px;
  object-fit: cover;
}
.characteristic {
  display: inline-block;
  width: 100%;
  columns: 2;
  
}
.consume, .characteristic{
    padding-left: 0;
}
.characteristic i, .consume i {
  margin-right: 15px;
  color: hsl(14, 72%, 47%);
}
 


.style-none {
  list-style-type: none;
}
.vin-code {
  position: relative;
  border-radius: 3px;
  padding: 3px 10px 3px 40px;
  border: 1px solid hsl(206, 61%, 37%);
}

.vin-code.checked::before, .vin-code.unchecked::before {
  content: "VIN";
  position: absolute;
  top: 0;
  left: 0;
  background: hsl(206, 61%, 37%);
  color: #fff;
  font-weight: 700;
  width: 35px;
  height: 100%;
  text-align: center;
}

.vin-code.unchecked::before {
    background: hsl(5, 61%, 37%);
}
.vin-code.unchecked {
  border: 1px solid hsl(5, 61%, 37%);
}

